<section>
  <div class="text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, beatae cum reiciendis deleniti enim esse alias
    voluptatem iste quod non deserunt omnis. Et aut laboriosam ipsum laborum, ratione asperiores ab harum exercitationem
    neque veritatis. Sit laboriosam, sed earum, officia voluptatum architecto a atque consequatur harum consectetur non
    pariatur, optio blanditiis facilis praesentium cumque modi tempore nobis facere magni! Consequatur soluta explicabo
    nam provident quae! Nisi alias rerum molestiae minus explicabo! Nihil impedit modi maxime deleniti eum ut quo
    dolorem voluptate corporis excepturi voluptates, perferendis inventore quod necessitatibus saepe ipsam, eveniet
    iusto ducimus aut animi? Voluptates perferendis vero nisi voluptatum? Repudiandae?
  </div>

  <div class="text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, beatae cum reiciendis deleniti enim esse alias
    voluptatem iste quod non deserunt omnis. Et aut laboriosam ipsum laborum, ratione asperiores ab harum exercitationem
    neque veritatis. Sit laboriosam, sed earum, officia voluptatum architecto a atque consequatur harum consectetur non
    pariatur, optio blanditiis facilis praesentium cumque modi tempore nobis facere magni! Consequatur soluta explicabo
    nam provident quae! Nisi alias rerum molestiae minus explicabo! Nihil impedit modi maxime deleniti eum ut quo
    dolorem voluptate corporis excepturi voluptates, perferendis inventore quod necessitatibus saepe ipsam, eveniet
    iusto ducimus aut animi? Voluptates perferendis vero nisi voluptatum? Repudiandae?
  </div>

  <div class="text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, beatae cum reiciendis deleniti enim esse alias
    voluptatem iste quod non deserunt omnis. Et aut laboriosam ipsum laborum, ratione asperiores ab harum exercitationem
    neque veritatis. Sit laboriosam, sed earum, officia voluptatum architecto a atque consequatur harum consectetur non
    pariatur, optio blanditiis facilis praesentium cumque modi tempore nobis facere magni! Consequatur soluta explicabo
    nam provident quae! Nisi alias rerum molestiae minus explicabo! Nihil impedit modi maxime deleniti eum ut quo
    dolorem voluptate corporis excepturi voluptates, perferendis inventore quod necessitatibus saepe ipsam, eveniet
    iusto ducimus aut animi? Voluptates perferendis vero nisi voluptatum? Repudiandae?
  </div>
</section>
